@font-face {
  font-family: 'DIVAN Inter';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url('@fontsource/inter/files/inter-latin-400-normal.woff2') format('woff2');
}

@font-face {
  font-family: 'DIVAN Inter';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: url('@fontsource/inter/files/inter-latin-700-normal.woff2') format('woff2');
}

@font-face {
  font-family: 'DIVAN Cormorant Garamond';
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src: url('@fontsource/cormorant-garamond/files/cormorant-garamond-latin-500-normal.woff2')
    format('woff2');
}

@font-face {
  font-family: 'DIVAN Cormorant Garamond';
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src: url('@fontsource/cormorant-garamond/files/cormorant-garamond-latin-600-normal.woff2')
    format('woff2');
}

@font-face {
  font-family: 'DIVAN Vazirmatn';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url('@fontsource/vazirmatn/files/vazirmatn-arabic-400-normal.woff2')
    format('woff2');
}

@font-face {
  font-family: 'DIVAN Noto Nastaliq Urdu';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url('@fontsource/noto-nastaliq-urdu/files/noto-nastaliq-urdu-arabic-400-normal.woff2')
    format('woff2');
}
